body{
    background-color: #8b0808;
}
h3{
    text-align: center;
    padding: 20px 0;
    color: rgb(5, 12, 12);
    margin-bottom: 20px;
}
section{
    padding:50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: aqua;
    margin-bottom: 20px;
}
.tentang p{
    color:burlywood;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
}
.card .card-body{
    text-align: center;
}
.card{
    display:inline-flex;
    margin:20px;
    
}


.img{
    width:30%;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
}
.konten p{
    text-align: center;
}

.konten-txt{
    padding: 100px;
}

#copyright{
    text-align: center;
    padding: 10px;
    background-color:#8b0808;
}
#copyright1{
    text-align: center;
    padding: 10px;
    border-left: 1px solid rgba(255,255,255,.8);
    
}
.u1{
    margin-left:  50%; 
}

